h1 {
    text-align: center;
    color: white;
    background-color: blueviolet;
}
body{
    background-image:url(../img/galaxy.webp);
}
.prices{
    font-size:60px;
    color:white;
    text-align:right;
}
.aboutus{
    font-size:30px;
    color:white;
}
hr{
    height:10px;
    background-color:white;
}
p{
    color:white;
    font-size:25px
}
p.about{
    color:white;
    font-size:35px
}
.abt{
    color:white;
    font-size:25px
}